<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    <context:annotation-config />

    <!-- Action的bean -->
    <bean id="loginAction" class="action.LogAction" scope="prototype">
        <property name="ud">
            <ref bean="usersDao"/>
        </property>
    </bean>
    <bean id="registerAction" class="action.RegAction" scope="prototype">
        <property name="ud">
            <ref bean="usersDao"/>
        </property>
    </bean>
    <bean id="changePwdAction" class="action.ChangePwdAction" scope="prototype">
        <property name="ud">
            <ref bean="usersDao"/>
        </property>
    </bean>
    <bean id="outLoginAction" class="action.OutLoginAction" scope="prototype">

    </bean>
    <bean id="addBookingAction" class="action.AddBookingAction" scope="prototype">
        <property name="td">
            <ref bean="ticketsDao"/>
        </property>
    </bean>
    <bean id="changeTicketAction" class="action.ChangeTicketAction" scope="prototype">
        <property name="td">
            <ref bean="ticketsDao"/>
        </property>
    </bean>
    <bean id="deleteTicketAction" class="action.DeleteTicketAction" scope="prototype">
        <property name="td">
            <ref bean="ticketsDao"/>
        </property>
    </bean>
    <bean id="queryTicketByTidAction" class="action.QueryTicketByTidAction" scope="prototype">
        <property name="td">
            <ref bean="ticketsDao"/>
        </property>
    </bean>
    <bean id="queryTicketsAction" class="action.QueryTicketsAction" scope="prototype">
        <property name="td">
            <ref bean="ticketsDao"/>
        </property>
    </bean>
    <bean id="queryTimeOrNameByPageAction" class="action.QueryTimeOrNameByPageAction" scope="prototype">
        <property name="td">
            <ref bean="ticketsDao"/>
        </property>
    </bean>
    <bean id="setQueryDataAction" class="action.SetQueryDataAction" scope="prototype">

    </bean>

</beans>